
.section-informative-banners {
    background: rgba(255, 208, 217, .2);
}

.nav-list-link {
    color: #0e0000 !important;
    fill: #0e0000 !important;
    font-weight: bold;
}

footer {
    color: #fff;
    background: #cdb4db;
}

footer a, footer .contact-link {
    color: #fff;
}

footer .contact-item-icon {
    fill: #fff;
}

.section-welcome-home {
    padding-bottom: 0px;
    text-align: center;
}

.polen-ngo-item .polen-ngo-item-image {
    padding: 5px 5px 0px 5px;
}
